<%- include("./partials/header") %>


<div class="container">
	<div style="text-align: center;" class="row">
		<h1>Sign Up!</h1>

		<form action="/register" method="POST">
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<div style="text-align:-webkit-center;" class="form-group">
				<input style="width: 25%; margin-top: 10px;" class="form-control" type="text" name="adminCode" placeholder="enter code">
			</div>
			<button>Sign up!</button>
		</form>

	</div>
</div>

<%- include("./partials/footer") %>