body{
	background: rgb(131,58,180);
	background: linear-gradient(38deg, rgba(131,58,180,1) 0%, rgba(115,89,184,1) 21%, rgba(97,127,185,1) 64%, rgba(45,237,194,1) 100%);
}

.thumbnail img{
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption {
	padding: 9px;
}

.deleteForm {
	display: inline-block;
}
